{% extends "base.html" %}

{% load account %}

{% block title %}パスワードリセット{% endblock %}

{% block content %}
<h1 class="m-page-title">パスワードリセット</h1>
{% if user.is_authenticated %}
{% include "account/snippets/already_logged_in.html" %}
{% endif %}

<p>パスワードを忘れましたか? 以下にあなたのメールアドレスを入力してください。認証メールを再送しますので、手順にしたがってリセットしてください。</p>

<form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="パスワードをリセットする" />
</form>

<p>パスワードリセットにならかのトラブルがあった場合は連絡してください</p>
{% endblock %}