{% extends 'base.html' %}
{% load render_bundle from webpack_loader %}

{% block title %}アカウント登録{% endblock %}

{% block content %}
<section>
  <h1 class="m-page-title">アカウント登録</h1>

  <p>既にアカウントを持っていますか?<a href='{{ login_url }}'>ログイン</a>してください</p>

  <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
    {% csrf_token %}
    {{ form.as_p }}
    {% if redirect_field_value %}
    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
    {% endif %}
    <button type="submit">アカウントを登録する</button>
  </form>
</section>

{% endblock %}