[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
autopep8 = "*"
django-stubs = "*"
django-extensions = "*"
ipython = "*"
mypy = "*"
flake8 = "*"
mypyls = {file = "https://github.com/matangover/mypyls/archive/master.zip"}
pytest = "*"
pytest-django = "*"

[packages]
django = "*"
django-webpack-loader = "*"
django-allauth = "*"
mysqlclient = "*"
python-dotenv = "*"

[requires]
python_version = "3.8"

[scripts]
start = "python manage.py runserver"
setup = "bash -c 'pipenv install --dev && cp .env.sample .env && python manage.py migrate'"
sync  = "bash -c 'pipenv install --dev && python manage.py migrate'"
check = "bash -c 'python manage.py check && flake8 .'"
test  = "py.test"
