@use "sass:color";
@use "sass:map";
@use "variable" as var;

.l-page-container {
  padding: var.$header-height 0 0 0;
  background: var.$white-weak;
}

.l-header {
  // outer layout
  position: fixed;
  top: 0;
  left: 0;
  // innner layout
  height: var.$header-height;
  display: flex;
  flex-direction: row;
  // style
  z-index: map.get(var.$z-index-weights, "lg");
}

$-logo-width: 250px;
.l-header__title {
  height: 100%;
  width: $-logo-width;
}

.l-header__menu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
  width: calc(100% - #{$-logo-width});
}

.l-header__menu-item {
  margin: 0 20px;
  position: relative;

  &::after {
    content: "";
    transition: 400ms;
    display: inline-block;
    position: absolute;
    top: 110%;
    left: 0;
    height: 2px;
    background: var.$theme-reverse-color;
    border-radius: 5px;
    width: 0%;
  }

  &:hover {
    &::after {
      width: 100%;
    }
  }
}

.l-content {
  min-height: calc(100vh - (#{var.$header-height} + #{var.$footer-height}));
  * {
    scroll-margin-top: var.$header-height;
  }

  padding: 20px;
}

.l-footer {
  height: var.$footer-height;
  display: flex;
  justify-content: center;
  align-items: center;
  // styles
  background: var.$black-weak;
  color: var.$white;
}

.l-header,
.l-content,
.l-footer {
  width: 100%;
}
