@use "variable" as var;

.m-page-title {
  font-size: 1.8rem;
}

.m-section-title {
  font-size: 1.6rem;
}

.m-theme-bg {
  background: var.$theme-color;
  color: var.$theme-reverse-color;
}

.m-flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.m-remove-a-decoration {
  &,
  &:visited,
  &:hover {
    color: inherit;
    text-decoration: none;
  }
}
