{% extends 'base.html' %}
{% load render_bundle from webpack_loader %}

{% block title %}Search{% endblock %}

{% block content %}
<div>
  <h1 class="m-page-title">This is Search Page!</h1>
  <div class="search-body">
    <section >
      <ul>
        {% for room in object_list %}
        <li>
          <a href="{% url 'web_con:call' room.pk %}">
            {% for roomtag in room.roomtag.all %}
              <div>
                {{ roomtag.tag.name }}
              </div>
            {% endfor %}
          </a>
        </li>
        {% endfor %}
      </ul>
    </section>
    <section class='detailed-search'>
      <h2>詳細検索</h2>
      <input type="text" class="detail-text">
    </section>
  </div>
  <a href="#">他の部屋を探す</a>
</div>

{% endblock %}

{% block external_footer %}
{% render_bundle 'index' 'js' %}
{% endblock %}