{% extends 'base.html' %}
{% load render_bundle from webpack_loader %}

{% block external_header %}
{% render_bundle 'setting_recruit' 'css' %}
{% endblock %}

{% block title %}Index{% endblock %}

{% block content %}
<h1>募集画面設定</h1>
<section>
  <form method="post">
    {% csrf_token %}
    <table>
      {{ form.as_table }}
    </table>
    {% for tag in tag_list %}
    <label>
      <input type="checkbox" name="tag_{{tag.pk}}">
      {{tag.name}}
      
    </label>
    {% endfor %}
    <input type="submit"  value="作成する">
  </form>
</section>

{% endblock %}

{% block external_footer %}
{% render_bundle 'setting_recruit' 'js' %}
{% endblock %}