{% extends 'base.html' %}
{% load render_bundle from webpack_loader %}

{% block external_header %}
{% render_bundle 'setting_recruit' 'css' %}
{% endblock %}

{% block title %}Index{% endblock %}

{% block content %}
<h1>募集画面設定</h1>
<section>
  <form method="post">
    {% csrf_token %}
    <table>
      {{ form.as_table }}
    </table>
    <ul class="m-tag-list">
      {% for tag in tag_list %}
      <li class="m-tag-checkbox">
        {% if tag.pk|stringformat:"s" in activate_tag_list %}
        <input type="checkbox" name="tag_{{tag.pk}}" id="tag_{{tag.pk}}" checked>
        {% else %}
        <input type="checkbox" name="tag_{{tag.pk}}" id="tag_{{tag.pk}}">
        {% endif %}
        <label for="tag_{{tag.pk}}">{{tag.name}}</label>
      </li>
      {% endfor %}
    </ul>
    <input type="submit" value="作成する" class="m-button">
  </form>
</section>

{% endblock %}

{% block external_footer %}
{% render_bundle 'setting_recruit' 'js' %}
{% endblock %}