{% extends 'base.html' %}
{% load render_bundle from webpack_loader %}

{% block external_header %}
{% render_bundle 'user' 'css' %}
{% endblock %}

{% block title %}User Profile{% endblock %}

{% block content %}
<section>
  <h1 class="m-page-title">ユーザーページ</h1>

  <h2>アカウント情報</h2>
  <ul>
    <li>メインのメールアドレス: {{ user.email }}</li>
    <li><a href="{% url 'account_email' %}">メールアドレスを管理する</a></li>
    <li><a href="{% url 'account_change_password' %}">パスワードを変更する</a></li>
    <li><a href="{% url 'account_logout' %}">サインアウト</a></li>
  </ul>
  

  <hr />

  <h2>参加予定の通話</h2>
  <ul>
    {% for room in rooms %}
    <li>
      <a href="{% url 'web_con:call' room.pk %}" class="{% if room.is_open %}is_open{% endif %} m-remove-a-decoration">{{ room.title }}</a>
    </li>
    {% endfor %}
  </ul>

  <h2>Ownerの通話の編集</h2>
  <ul>
    {% for owner_room in owner_rooms %}
    <li>
      <a href="{% url 'web_con:update_room_setting' owner_room.pk %}">{{owner_room.title}}</a>
    </li>
    {% endfor %}
  </ul>

</section>
{% endblock %}

{% block external_footer %}
{% render_bundle 'user' 'js' %}
{% endblock %}